.ems-contacts {
  position: relative;
}

.flexible {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
}

.flexible-image {
  max-width: 40%;
}

.flexible-image img {
  height: 230px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}


.swiper-pagination9 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.swiper-pagination9 .swiper-pagination-bullet {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background: #e0e0e0;
  opacity: 1;
}

.swiper-pagination9 .swiper-pagination-bullet-active {
  background: var(--orange)
}


.mymap-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  /* z-index: 9; */
}

.ems-contacts__container {
  display: flex;
  justify-content: flex-end;
}

.ems-contacts__content {
  background: linear-gradient(198.93deg, #394D99 11%, #7CD8EA 207.29%);
  padding: 2rem;
  color: #fff;
  width: 70%;
}

.ems-contacts__content h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.ems-contacts__content h2 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.ems-contacts__content p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 150%;
  font-weight: 500;
}

.ems-contacts__content a {
  display: block;
  font-size: 1.1rem;
  margin-top: .5rem;
  color: rgba(255, 255, 255, 0.431);
  text-decoration: underline;
  font-weight: 500;
}

.ems-contacts__items {
  display: flex;
}

.ems-contacts__item:nth-child(2) {
  margin-left: 5rem;
}

.ems-contacts__item a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 1470px) {
  .flexible-image img {
    height: 200px;
  }
}
@media (max-width: 1320px) {
  .flexible-image img {
    height: 170px;
  }
}
@media (max-width: 1250px) {
  .flexible-image img {
    height: 140px;
  }
}

@media (max-width: 1100px) {
  .flexible-image {
    max-width: 30%;
  }
}

@media (max-width: 767px) {
  .ems-contacts__content {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .flexible-image {
    display: none;
  }
  .ems-contacts__items {
    flex-direction: column;
  }
  .ems-contacts__item:nth-child(2) {
    margin-left: 0;
  }
}
